<div>
    {%  for product in collection.products %} 
        <div>
            <img src="{{product.featured_image | img_url: 'master'}}" alt="">
            {{product.title}}
            
        </div>

    {% endfor %}
</div>