{{ 'marvel.min.css' | asset_url | stylesheet_tag }}

<section class="product">
  
  </div>
</section>



{% schema %}
  {
    "name": "product",
    "settings": [
      {
        "type": "text",
        "id": "section-title",
        "label": "Add section title"
      }
    ]
  }
{% endschema %}