{{ 'marvel.min.css' | asset_url | stylesheet_tag }}

<section class="product">

  {% for product in collection.products %}
    {% if product.title == "{{section.settings.product-name}}" %}
      {{ product.title }} 
    {% endif %}
  {% endfor %}

</section>

{% schema %}
  {
    "name": "product",
    "settings": [
      {
        "type": "text",
        "id": "product-name",
        "label": "Add product name"
      }
    ]
  }
{% endschema %}