{{ 'marvel.min.css' | asset_url | stylesheet_tag }}

<section class="product">

  {% for product in collection.products %}
    {{ product.title }}
    {% if product.id == "{{ section.settings.product-item.id }}" %}
      <p>{{ product.title }}</p>
    {% endif %}
  {% endfor %}

</section>

{% schema %}
  {
    "name": "product",
    "settings": [
      {
        "type": "product",
        "id": "product-item",
        "label": "Choose a product"
      }
    ]
  }
{% endschema %}