{{ 'marvel.min.css' | asset_url | stylesheet_tag }}

<section class="product">
<div>
  {{ section.settings.product_item.title }}
</div>
<div>
  {{ section.settings.product_item.price }}
</div>



</section>

{% schema %}
  {
    "name": "product",
    "settings": [
      {
        "type": "product",
        "id": "product_item",
        "label": "Choose a product"
      }
    ]
  }
{% endschema %}