body {
    font-family: Sofia Pro Light;
    font-style: normal;
    font-weight: 400;    
    color: #0B0D21;
    margin: 0 auto;
}

h2 {
    font-family: Alata;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: start;
    margin: 0;
}

section {
    padding: 56px 0;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.line {
    width: 65px;
    height: 4px;
    background: #F9D023;
    margin-bottom: 40px;
    margin-top: 32px;
}


@media (min-width: 576px) {

    body .container {
        max-width: 510px ;
    }

}

@media (min-width: 768px) {

    body .container {
        max-width: 690px ;
    }

    body h2 {
        font-size: 90px;
        line-height: 100px;
    }

    body section {
        padding: 96px 0;
    }


    .line {
        width: 100px;
        height: 6px;
        margin-bottom: 56px;
        margin-top: 48px;
    }
}

@media (min-width: 992px) {

    body .container {
        max-width: 930px;
    }

}

/* General for Knitty*/

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
