@import "additional/reset.scss";
@import "additional/general.scss";
@import "additional/vars.scss";

.services {
    background-color: $yellow;
    
    .line {
        background-color: $white; 
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .services__descr {
        max-width: 920px;
    }

    .services-box {
        margin: 56px 0;
    }

    .service-item {
        max-width: 351px;
    }

    .service-item:not(:last-child) {
        margin-bottom: 40px;
    }
    .service-name {
        font-family: Sofia Pro Bold;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 24px;
        position: relative;
        font-size: 14px;
        line-height: 24px;
    }

    ul>li {
        position: relative;
        font-size: 14px;
        line-height: 24px;
        margin-left: 12px;
    }

    ul>li::before {
        content: "";
        position: absolute;
        left: -12px;
        width: 4px;
        height: 4px;
        background-color: $white;
        transform: translate(0px, 10px);
    }

    .service-arrow {
        display: flex;
        align-items: center;
        margin-left: 12px;
        height: 10px;

        .arrow-line {
            width: 33px;
            height: 2px;
            background-color: $white;
        }

        .arrow {
            width: 5px;
            height: 10px;
            position: relative;
            display: flex;
            align-items: center;

            div {
                border: solid $white;
                border-width: 2px 2px 0 0;
                position: absolute;
                padding: 3px;
                width: 5px;
                height: 5px;
                transform: rotate(45deg);
            }
        }
    }

    .services__concl {
        max-width: 825px;
        font-weight: 300;
    }
}


@media (min-width: 768px) {
    .services {
        p {
            font-size: 18px;
            line-height: 26px;
        }

        .service-name {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 24px;
        }

        ul>li {
            font-size: 18px;
            line-height: 26px;
            margin: 0px 0px 10px 22px;
        }
        
        ul>li::before {
            left: -22px;
            width: 6px;
            height: 6px;
        }
        

        .service-arrow {
            margin: 0 0 56px 22px;
        }
    }
}

@media (min-width: 992px) {
    .services {
        .services-box {
            display: flex;
            
            .service-item {
                margin-bottom: 0;
            }
        }

       .service-arrow {
            margin: 0;
        }

    }

}
